body {
  background-color: #fff;
}

body > footer {
  background-color: #2c3e50;
  padding-top: 1em;
  padding-bottom: 1em;
}

body > footer, body > footer a, body > footer a:hover {
  color: #ecf0f1;
}

body > footer.contact {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #95a5a6;
}


body > header {
  background-color: #2980b9;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

body > header h1, body > header strong {
  color: #f1c40f;
}

section#pizza_form {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ecf0f1;
  color: #444;
}

.center {
  text-align: center;
}

.smaller {
  font-size: smaller;
}